$icon-size: 24px;

.expand-more-icon {
  height: $icon-size;
  width: $icon-size;
  background: url('./assets/icons/expand-more.svg');
}

.expand-less-icon {
  height: $icon-size;
  width: $icon-size;
  background: url('./assets/icons/expand-less.svg');
}

.chevron-left-inverse-icon {
  height: $icon-size;
  width: $icon-size;
  background: url('./assets/icons/chevron-left-inverse.svg');
}

.chevron-right-inverse-icon {
  height: $icon-size;
  width: $icon-size;
  background: url('./assets/icons/chevron-right-inverse.svg');
}
